name: Validate Dependabot config

on:
  pull_request:
    paths:
      - '.github/dependabot.yml'
      - '.yamllint.yml'
  push:
    branches:
      - 'main'
    paths:
      - '.github/dependabot.yml'
      - '.yamllint.yml'

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install yamllint
        run: pip install yamllint==1.35.1

      - name: Lint Dependabot YAML
        run: yamllint .github/dependabot.yml
